/**
 * 1. Flex box
 * 2. Margins
 */

// Flex
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

// Margins
.m-0 {
  margin: 0;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
