:root {
  --color-border: #e5e7eb;
  --color-surface-lightest: #f9fafb;
  --color-primary: #3b82f6;
  --color-primary-text: #4b5563;
}

@import "./variables";
@import "./normalize";
@import "./components";
@import "./utilities";
